Flask==3.1.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-Principal==0.4.0
Flask-Security==5.5.2
Flask-Login==0.6.3
Flask-WTF==1.2.2
setuptools==58.1.0
argon2-cffi==23.1.0
flask-babel==4.0.0
bcrypt==4.2.1
