<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная страница{% endblock %}</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" >
            <a class="navbar-brand" href="{{ url_for('home') }}" style="color: yellow">КУРСАТОР</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container-fluid d-flex" id="navbarNav">
                <div class="d-flex">
                    <div class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}" style="color: white">О нас</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="{{ url_for('all_courses') }}" style="color: white">Курсы</a>
                    </div>
                    {% if current_user.is_authenticated %}
                    <div class="nav-item">
                        <a class="nav-link" href="{{ url_for('user_courses') }}" style="color: white">Мои курсы</a>
                    </div>
                    {% endif %}
                </div>

                <div class="ms-auto d-flex">
                    {% if current_user.is_authenticated %}
                    <div class="nav-item">
                        <a class="nav-link" href="{{ url_for('profile') }}" style="color: white">Профиль</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}" style="color: white">Выйти</a>
                    </div>
                    {% else %}
                    <div class="nav-item">
                        <a class="nav-link" href="{{ url_for('security.login') }}" style="color: white">Войти</a>
                    </div>
                    <div class="nav-item ">
                        <a class="nav-link" href="{{ url_for('security.register') }}" style="color: white">Регистрация</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <main class="container mt-4">
        {% block content %}{% endblock %}
    </main>
    <!-- Bootstrap and other dependencies should be loaded right before the closing body tag -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>